{% extends 'base.layout.html.twig' %}

{% block body %}

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h2 class="text-white">Safebox</h2>
            </div>
            <form class="m-t" role="form" action="{{ path('login') }}" method="post">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-group">
                    <input type="text" name="_username" value="{{ last_username }}" class="form-control" placeholder="Username" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="_password" class="form-control" placeholder="Password" required="">
                </div>
                <input type="hidden" name="_target_path" value="/admin/dashboard" />
                <button type="submit" class="btn btn-primary block full-width m-b">Войти</button>
            </form>
        </div>
    </div>
{% endblock %}