{% extends 'base.layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h2 class="text-white">Регистрация</h2>
            </div>
            {{ form_start(form, {'method': 'POST', 'attr': {'class': 'ajax-validation-form', 'novalidate': 'novalidate' }}) }}
                <div class="form-group">
                    {{ form_row(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.email) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword.first) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword.second) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.termsAccepted) }}
                </div>

                <button type="submit">Регистрация</button>
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}