<form id="deletePlaceFloorCellForm" method="post"
      action="{{ path('admin-objects-places-editor-cell-delete', {'id': placeFloorCell.floor.place.id, 'placeFloor': placeFloorCell.floor.id, 'placeFloorCell': placeFloorCell.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ placeFloorCell.id) }}">
</form>