{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ form_start(form, {'method': 'POST', 'attr': {'class': 'ajax-validation-form', 'novalidate': 'novalidate' }}) }}
    {{ form_errors(form) }}
    <div class="form-group">
        <h4>Свойства ячейки</h4>
    </div>
    <div class="form-group">
        {{ form_row(form.name, {'label': 'Название'}) }}
    </div>
    <div class="subobject">
        <div class="form-group">
            {{ form_row(form.subobject, {'label': 'Тип элемента'}) }}
        </div>
        <div class="alert subobject-info">
            <b class="pull-right" style="background: {{ placeFloorCell.subobject.color }};"></b>
            <div class="form-group">
                <label class="control-label required" for="place_floor_cell_name">Тариф</label>
                <div>{{ placeFloorCell.subobject.type.rate.name }}</div>
            </div>
            <div class="form-group">
                <label class="control-label required" for="place_floor_cell_name">Размер</label>
                <div>{{ placeFloorCell.subobject.getSquare() }}м<sup>2</sup> {{ placeFloorCell.subobject.width|round }}x{{ placeFloorCell.subobject.length|round }}</div>
            </div>
        </div>
    </div>
    <div class="form-group hidden">
        {{ form_row(form.coord) }}
        {{ form_row(form.size) }}
    </div>
    <div class="form-group">
        <button class="btn btn-success save_cell" data-cell_id="{{ placeFloorCell.id }}">Сохранить</button>
    </div>
{{ form_end(form) }}

<hr/>

<div class="cell_levels" data-cell_id="{{ placeFloorCell.id }}">
    <div class="form-group">
        <h4>Уровни ячейки</h4>
    </div>

    {% for _level in placeFloorCell.placeFloorCellLevels %}
    <div class="form-group level" data-level_id="{{ _level.id }}">
        <div class="input-group col-md-11 m-b">
            <span class="input-group-btn">
                <input type="text" name="place_floor_cell_level[name]" value="{{ _level.name }}" class="form-control" placeholder="Название уровня">
                <button type="button" class="btn btn-danger{% if loop.index == 1 %} disabled{% else %} delete_level{% endif %}">&times;</button>
            </span>
        </div>
    </div>
    {% endfor %}
</div>

<a href="javascript:void(0);" class="text text-success add_level">Добавить уровень</a>
