<div>
    <a class="pull-right text text-danger delete_cell" data-cell_id="{{ placeFloorCell.id }}">Удалить</a>
</div>

{{ include('admin/place_editor/cell/_form.html.twig', {'button_label': 'Update'}) }}

{% if is_granted('ROLE_SUPER_ADMIN') %}
    {{ include('admin/place_editor/cell/_delete_form.html.twig') }}
{% endif %}