<a class="btn btn-danger" onclick="$('#deletePlaceForm{{ row.id }}').submit();">Удалить</a>
<form id="deletePlaceForm{{ row.id }}" method="post" action="{{ path('admin-objects-places-delete', {'id': row.id}) }}" onsubmit="return confirm('Данное действие может привести к удалению всех связанных данных!\nВы уверены, что хотите удалить эту запись?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ row.id) }}">
</form>