{% extends 'admin.layout.html.twig' %}

{% set page_title = place.name %}
{% set page_subtitle = place.name %}
{% set breadcrumbs = {'Объекты': 'admin-objects-places'} %}

{% block body %}

    <div class="tabs-container">
        <ul class="nav nav-tabs">
            <li{% if app.request.attributes.get('_route') starts with 'admin-objects-places-orders' %} class="active"{% endif %}>
                <a href="{{ path('admin-objects-places-orders', {'id': place.id}) }}">Арендаторы</a></li>
            <li{% if app.request.attributes.get('_route') starts with 'admin-objects-places-plan' %} class="active"{% endif %}>
                <a href="{{ path('admin-objects-places-plan', {'id': place.id}) }}">План объекта</a></li>
            <li{% if app.request.attributes.get('_route') starts with 'admin-objects-places-docs' %} class="active"{% endif %}>
                <a href="{{ path('admin-objects-places-docs', {'id': place.id}) }}">Документ тарифов</a></li>
            <li{% if app.request.attributes.get('_route') starts with 'admin-objects-places-passport' %} class="active"{% endif %}>
                <a href="{{ path('admin-objects-places-passport', {'id': place.id}) }}">Паспорт</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}