{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ form_start(form, {'method': 'POST', 'attr': {'class': 'ajax-validation-form', 'novalidate': 'novalidate' }}) }}
    {{ form_row(form.city, {'label': false}) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_row(form.name, {'label': 'Название'}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.legal, {'label': 'Юридическое лицо'}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.legalDetail, {'label': 'Реквизиты'}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.address, {'label': 'Адрес', 'id': 'address_field'}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.phone, {'label': 'Телефон'}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.square, {'label': 'Площадь'}) }}
    </div>
    <div class="form-group">
        <button class="btn btn-success">Сохранить</button>
    </div>
{{ form_end(form) }}