<a class="btn btn-success" href="{{ path('admin-objects-places-edit', {'id': row.id}) }}">Редактировать</a>
<a class="btn btn-success" href="{{ path('admin-objects-places-orders', {'id': row.id}) }}">Детали</a>
{% if is_granted('ROLE_SUPER_ADMIN') %}
{{ include('admin/place/_delete_form.html.twig') }}
{% endif %}