{% extends 'admin.layout.html.twig' %}

{% set page_title = 'Объекты' %}
{% set page_subtitle = 'Объекты' %}

{% block body %}
    <h4>
        <a href="{{ path('admin-objects-places-new') }}" class="btn btn-sm btn-primary cr_btn_rate_add" type="button"><i class="fa fa-plus"></i>&nbsp;Добавить</a>
    </h4>

    <div class="table-responsive">
        <div id="datatable"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function() {
            $('#datatable').initDataTables({{ datatable_settings(datatable) }}, {
                searching: true,
                dom:'<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'excel', title: 'objects'},
                    { extend: 'csv', title: 'objects'},
                    { extend: 'pdf', title: 'objects'},
                    { extend: 'print' }
                ]
            });
        });
    </script>
{% endblock %}