{% extends 'admin.layout.html.twig' %}

{% set page_title = 'Создание объекта' %}
{% set page_subtitle = 'Создание объекта' %}
{% set breadcrumbs = {'Объекты': 'admin-objects-places'} %}

{% block body %}
    {{ include('admin/place/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="/resources/main/js/address.js"></script>

    <script>
        var $legal = $('#place_legal');
        $legal.change(function() {
            var $form = $(this).closest('form');
            var data = {};
            data[$legal.attr('name')] = $legal.val();
            var legal_id = data['place[legal]'];
            $('#place_legalDetail').html('').append('<option value="" selected="selected">Выберите тип</option>').attr('disabled', true);
            if (legal_id > 0) {
                $.ajax({
                    url: 'http://' + window.location.hostname + '/admin/objects/legals/' + legal_id + '/details/search',
                    type: $form.attr('method'),
                    data: data,
                    success: function (data) {
                        $('#place_legalDetail').attr('disabled', false);
                        for (let key in data) {
                            $('#place_legalDetail').append('<option value="' + data[key]['id'] + '">' + data[key]['name'] + '</option>');
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}