{% extends 'admin/place_editor/layout.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="page-wrapper" class="sidebar-content">
            <div class="row border-bottom">
                <nav class="navbar navbar-fixed-top white-bg" role="navigation">
                    <div class="row" id="core_obj_editor_header">
                        <div class="col-xs-12">
                            <a class="btn dim btn-large-dim dim_header pull-left" href="{{ path('admin-objects-places-plan', {'id': place.id}) }}"><i class="fa fa-angle-left"></i></a>
                            <div class="cr_title pull-left">
                                <b>Редактирование плана объекта</b>
                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="core_object_editor_name">{{ place.name }}</span> <i class="fa fa-chevron-down"></i></button>
                                    <ul class="dropdown-menu dropdown-menu-left core_elipsis_other_objects">
                                        {% for _place in places %}
                                            {% if place.id != _place.id %}
                                                <li><a href="{{ path('admin-objects-places-editor', {'id': _place.id}) }}">{{ _place.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="cr_floors core_ns">
                                <div class="cr_current_floor_name hide">{{ placeFloor.number }} этаж</div>
                                <div id="cr_floors" class="cr_floors_navi">
                                    {% for _floor in place.placeFloors %}
                                        <div class="i floor{% if _floor == placeFloor %} active{% endif %}" data-floor_id="{{ _floor.id }}" data-floor_number="{{ _floor.number }}">{{ _floor.number }}</div>
                                    {% endfor %}
                                    <div class="i cr_plus" id="create_floor"><i class="fa fa-plus"></i></div>
                                    {% if place.placeFloors|length > 1 and placeFloor.number != 1 %}
                                        <div class="i cr_close" id="delete_floor">Удалить</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            {% if not defaultSubobject %}
                <br/><br/><br/><br/><br/>
                <div class="alert alert-warning">Для редактирования плана необходимо наличие типов элементов! <a href="{{ path('admin-objects-subobjects') }}">Перейти к созданию типов элементов</a></div>
            {% else %}
            <div id="place_editor" data-place_id="{{ place.id }}" data-floor_id="{{ placeFloor.id }}" data-subobject_id="{{ defaultSubobject.id }}"
                 data-editor_url="{{ path('admin-objects-places-editor', {'id': place.id}) }}" class="animated fadeInRight">
                <div class="row core_object_schema_direct_block">
                    <div class="col-xs-12">
                        <!-- core_object_schema -->
                        <div class="core_object_schema">
                            <div id="place_editor_tools" class="cr_navi">
                                <div class="i active" data-name="selecting" data-toggle="tooltip" data-placement="right" title="Выбрать ячейку">
                                    <i class="fa fa-mouse-pointer"></i>
                                </div>
                                <div class="i" data-name="celldrawing" data-toggle="tooltip" data-placement="right" title="Создать ячейку">
                                    <i class="fa fa-square"></i>
                                </div>
                                <div class="i last cr_upload_bg" data-name="upload" data-toggle="tooltip" data-placement="right" title="Загрузить изображения плана">
                                    <i class="fa fa-image"></i>
                                </div>
                                <div class="i hide" data-name="enter">
                                    <i class="fa fa-bullseye"></i>
                                </div>
                                <div class="i hide" data-name="line">
                                    <i class="fa fa-crosshairs"></i>
                                </div>
                                <div class="i last hide" data-name="dragging" data-toggle="tooltip" data-placement="right" title="Переместить ячейку">
                                    <i class="fa fa-arrows-alt"></i>
                                </div>
                            </div>

                            <div class="cr_schema cr_cursor_move">
                                <div class="cr_scale">
                                    <div class="cr_scale_plus"><b>+</b></div>
                                    <div class="cr_scale_minus"><b>−</b></div>
                                </div>
                                <div class="cr_figures_wrap">
                                    <div class="cr_figures_plan" data-scale="1">
                                        {% if placeFloor.image %}
                                        <img class="cr_figures" src="/uploads/floors/{{ placeFloor.image }}" />
                                        {% endif %}

                                        <div class="cr_cells">
                                            {% for _cell in placeFloor.placeFloorCells %}
                                            <div class="cr_fg" data-type="box" data-name="{{ _cell.name }}" data-cell_id="{{ _cell.id }}" data-subobject_id="{{ _cell.subobject.id }}"
                                                 style="top: {{ _cell.coord.1 }}px; left: {{ _cell.coord.0 }}px; width: {{ _cell.size.0 }}px; height: {{ _cell.size.1 }}px; border-color: {{ _cell.subobject.color }};">
                                                <div class="cr_tool" style="background-color: {{ _cell.subobject.color }};"></div>
                                                <div class="cr_layer_box">
                                                    {% for _level in _cell.placeFloorCellLevels %}
                                                    <div class="i" data-level_id="{{ _level.id }}">{{ _level.name }}</div>
                                                    {% endfor %}
                                                </div>
                                                <div class="cr_title hide">{{ _cell.name }}</div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //// core_object_schema -->
                    </div>

                    <div class="col-xs-3 core_subobject_info gray-bg core_hide"></div>
                </div>

                <form class="core_hide" id="floorImageUploadForm" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="place_floor[number]" value="{{ placeFloor.number }}"/>
                    <input type="file" name="place_floor[image]" accept=".png, .jpg, .jpeg" />
                </form>

                <div class="core_file_uploading_progress"></div>

            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}