<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Редактор плана{% endblock %}</title>
        {% block stylesheets %}
            {{ parent() }}
            <link href="/resources/editor/css/editor.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body class="fixed-navigation place_editor">
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script src="/resources/dest/js/plugins/jquery-ui/jquery-ui.min.js"></script>
            <script src="/resources/editor/js/editor.js?{{ date().timestamp }}"></script>
        {% endblock %}
    </body>
</html>
