<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ page_title }} - Safebox{% endblock %}</title>

    {% block stylesheets %}
        <link href="/resources/dest/css/bootstrap.min.css" rel="stylesheet">
        <link href="/resources/dest/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="/resources/dest/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
        <link href="/resources/dest/css/plugins/toastr/toastr.min.css" rel="stylesheet">
        <link href="/resources/dest/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
        <link href="/resources/dest/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
        <link href="/resources/dest/css/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">
        <link href="/resources/dest/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
        <link href="/resources/dest/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
        <link href="/resources/dest/css/plugins/switchery/switchery.css" rel="stylesheet">
        <link href="/resources/dest/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
        <link href="/resources/dest/css/animate.css" rel="stylesheet">
        <link href="/resources/dest/css/style.css" rel="stylesheet">
    {% endblock %}
</head>
<body class="pace-done">

    <div id="wrapper">
        {% include 'admin/layouts/menu.html.twig' %}
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                {% include 'admin/layouts/navbar.html.twig' %}
            </div>

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-xs-12">
                    <div class="row">
                        {% set _page_header_top = block('page_header_top') %}
                        <div class="{% if _page_header_top is defined and _page_header_top|length > 0 %}col-xs-4{% else %}col-xs-12{% endif %}">
                            <h2>{{ page_title }}</h2>
                            <ol class="breadcrumb">
                                {% if app.request.attributes.get('_route') != 'admin-dashboard' %}
                                <li><a href="{{ path('admin-dashboard') }}">Главная</a></li>
                                {% endif %}
                                {% if breadcrumbs is defined %}
                                    {% for label, route in breadcrumbs %}
                                        <li><a href="{{ path(route) }}">{{ label }}</a></li>
                                    {% endfor %}
                                {% endif %}
                                {% if page_subtitle is defined %}
                                <li class="active"><strong>{{ page_subtitle }}</strong></li>
                                {% endif %}
                            </ol>
                        </div>
                        {% if _page_header_top is defined and _page_header_top|length > 0 %}
                        <div class="col-xs-8">
                            <div class="m-t-md">
                            {% block page_header_top %}{% endblock %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                {% block page_header_bottom %}{% endblock %}
            </div>

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                {% block body %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% block javascripts %}
    <!-- Mainly scripts -->
    <script src="/resources/dest/js/jquery-3.1.1.min.js"></script>
    <script src="/resources/dest/js/bootstrap.min.js"></script>
    <script src="/resources/dest/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/resources/dest/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/resources/dest/js/plugins/dataTables/datatables.min.js"></script>
    <script src="/resources/dest/js/plugins/flot/jquery.flot.js"></script>
    <script src="/resources/dest/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/resources/dest/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="/resources/dest/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/resources/dest/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="/resources/dest/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="/resources/dest/js/demo/peity-demo.js"></script>
    <script src="/resources/dest/js/inspinia.js"></script>
    <script src="/resources/dest/js/plugins/pace/pace.min.js"></script>
    <script src="/resources/dest/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="/resources/dest/js/plugins/gritter/jquery.gritter.min.js"></script>
    <script src="/resources/dest/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="/resources/dest/js/demo/sparkline-demo.js"></script>
    <script src="/resources/dest/js/plugins/chartJs/Chart.min.js"></script>
    <script src="/resources/dest/js/plugins/toastr/toastr.min.js"></script>
    <script src="/resources/dest/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="/resources/dest/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="/resources/dest/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="/resources/dest/js/plugins/datapicker/bootstrap-datepicker.ru.min.js"></script>
    <script src="/resources/dest/js/plugins/clockpicker/clockpicker.js"></script>
    <script src="/resources/dest/js/plugins/switchery/switchery.js"></script>
    <script src="/resources/dest/js/plugins/fullcalendar/moment.min.js"></script>
    <script src="/resources/dest/js/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/resources/dest/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <script src="/resources/main/js/form.validator.js"></script>
{% endblock %}
</body>
</html>
