<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="/resources/dest/css/bootstrap.min.css" rel="stylesheet">
            <link href="/resources/dest/font-awesome/css/font-awesome.css" rel="stylesheet">

            <link href="/resources/dest/css/animate.css" rel="stylesheet">
            <link href="/resources/dest/css/style.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="/resources/dest/js/jquery-3.1.1.min.js"></script>
            <script src="/resources/dest/js/bootstrap.min.js"></script>
            <script src="/resources/main/js/form.validator.js"></script>
        {% endblock %}
    </body>
</html>
