<div id="place_preview">

    <div id="place_floors" class="btn-group core_pg_requests_status_group">
        {% for _placeFloor in placeFloors %}
            <a class="btn btn-white{% if _placeFloor == placeFloor %} active{% endif %} show_floor_plan"
               data-editor_url="{{ path('admin-objects-places-editor', {'id': place.id, 'placeFloor': _placeFloor.id}) }}"
               href="{{ path('admin-objects-places-plan', {'id': place.id, 'placeFloor': _placeFloor.id}) }}">{{ _placeFloor.number }} этаж</a>
        {% endfor %}
    </div>

    <div class="core_object_schema only_view">
        <div class="cr_schema">
            <div class="cr_scale">
                <div class="cr_scale_plus"><b>+</b></div>
                <div class="cr_scale_minus"><b>−</b></div>
            </div>
            <div class="cr_figures_wrap">
                <div class="cr_figures_plan" data-scale="1">
                    {% if placeFloor.image %}
                        <img class="cr_figures" src="/uploads/floors/{{ placeFloor.image }}" />
                    {% endif %}

                    <div class="cr_cells">
                        {% for _cell in placeFloor.getPlaceFloorCells(begin_at) %}
                            {% set cellLog = _cell.getLastCellLog(begin_at) %}
                            <div class="cr_fg" data-type="box" data-name="{{ _cell.name }}" data-cell_id="{{ _cell.id }}" data-subobject_id="{{ _cell.subobject.id }}"
                                 style="
                                         {% if cellLog %}
                                         top: {{ cellLog.coord.1 }}px; left: {{ cellLog.coord.0 }}px; width: {{ cellLog.size.0 }}px; height: {{ cellLog.size.1 }}px;
                                         {% else %}
                                         top: {{ _cell.coord.1 }}px; left: {{ _cell.coord.0 }}px; width: {{ _cell.size.0 }}px; height: {{ _cell.size.1 }}px;
                                         {% endif %}
                                         border-color: {{ _cell.subobject.color }};
                                 ">
                                <div class="cr_tool" style="background-color: {{ _cell.subobject.color }};"></div>
                                <div class="cr_layer_box">
                                    {% for _level in _cell.getPlaceFloorCellLevels(begin_at) %}
                                        <div class="i{% if _level in busyCellLevels %} reserved{% endif %}" data-level_id="{{ _level.id }}">{{ _level.name }}</div>
                                    {% endfor %}
                                </div>
                                <div class="cr_title hide">{{ _cell.name }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>