{% extends 'admin/place/_details.html.twig' %}

{% block content %}

<div id="plan">
    <a href="{{ path('admin-objects-places-editor', {'id': place.id}) }}" id="edit_plan_link" class="btn btn-success pull-right">Редактировать план</a>

    {% if placeFloors|length == 0 %}
        <div>План отсутствует</div>
    {% else %}

    {{ include('admin/place_plan/_floor.html.twig') }}

    {% endif %}
</div>

{% endblock %}

{% block stylesheets %}
    <link href="/resources/editor/css/editor.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="/resources/editor/js/editor.js?{{ date().timestamp }}"></script>
{% endblock %}