body{
    background: #f3f3f4;
}

body.place_editor{
    background: #fafafa;
    background: url(/resources/editor/images/square_bg.png) 0 0 repeat;
}

.core_ns {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.core_loading{
    position: relative;
}

.core_loading:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.75) url(/resources/editor/images/Spinner-1s-200px.svg) 50% 50% no-repeat;
    background-size: 80px 80px;
    z-index: 999999;
}

.element_loading{
    position: relative;
}

.element_loading:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.4) url(/resources/editor/images/Spinner-puff.svg) 50% 50% no-repeat;
    background-size: 40px 40px;
    z-index: 999999;
}

.colorpicker, .colorpicker * , .datepicker.dropdown-menu{
    z-index: 9999 !important;
}

.core_ibox_wrape{
    margin-top: 2%;
}

.modal.core_loading .modal-content:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.75);
}

.cr_actions.open .dropdown-menu{
    transform: translateX(-100%);
    top: 0;
}

.core_hide{
    display: none;
}

#wrapper{
}

.nav > li.noactive{
    opacity: 0.35;
}

#wrapper .navbar-static-side{
    background: #273948;
    height: 100%;
}

.core_cl{
    float: none;
    clear: both;
}

#side-menu .nav-header{
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#core_header_profile{
    margin-right: 20px;
    margin-left: 10px;
    position: relative;
    top: 10px;
}

#core_header_profile .cr_img{
    float: left;
    display: block;
}

#core_header_profile .cr_info{
    display: block;
    padding-top: 0;
    padding-left: 10px;
    float: left;
}

#core_header_profile .cr_info .text-muted{
    font-size: 12px;
}

#core_main_page_top_buttons{

}

#core_main_page_top_buttons a.dim, a.dim.dim_header{
    margin-bottom: 0 !important;
    font-size: 36px;
    width: 70px;
    height: 70px;
    border-radius: 0;
    padding-top: 5px;
    color: #000;
    background: #eee;
}


#core_main_page_top_buttons .core_f{
    background: #eee;
}

#core_butter{
    display: none;
}


@media(max-width: 767px){
    #core_butter{
        display: inline-block;
    }

    .navbar-right{
        float: right !important;
    }

    #core_main_page_top_buttons button.dim{
        margin-top: 2px;
        margin-left: 5px;
        margin-right: 0;
        width: 40px;
        height: 50px;
    }

    #core_main_page_top_buttons .core_f{
        background: none;
    }

    .body-small .sidebar-content .wrapper, .body-small .wrapper.sidebar-content{
        padding-right: 10px !important;
    }

    .footer{
        text-align: center;
    }

}

#page-wrapper{
    overflow: hidden;
}

#page-wrapper.sidebar-content{
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
}

/*
// Main Page
*/
.sidebar-panel{
    width: 350px;
}

@media(max-width: 767px){
    .sidebar-panel{
        width: 100%;
    }
}

.sidebar-content .wrapper, .wrapper.sidebar-content{
    padding-right: 350px !important;
}

#core_main_sidebar_panel{
    padding-top: 40px;
}

#core_main_sidebar_panel .vertical-container{
    width: 100%;
    position: relative;
}

#core_main_sidebar_panel .vertical-timeline-content{
    margin-left: 34px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#core_main_sidebar_panel .vertical-timeline-content p{
    padding: 0;
    margin: 0;
    padding-right: 70px;
    box-sizing: border-box;
}

#core_main_sidebar_panel .vertical-timeline-content p b{
    color: #929292;
}

#core_main_sidebar_panel .vertical-timeline-block.cr_active .vertical-timeline-content p b {
    color: #333;
}

#core_main_sidebar_panel .vertical-timeline-content p b .fa{
    position: relative;
    top: 2px;
    font-size: 16px;
}

#core_main_sidebar_panel .vertical-timeline-content p .cr_profile{
    display: block;
    padding-top: 5px;
    color: #929292;
}

#core_main_sidebar_panel .vertical-timeline-content p .cr_desc{
    display: block;
    padding-top: 5px;
    color: #929292;
}

#core_main_sidebar_panel .vertical-timeline-block.cr_active .vertical-timeline-content p .cr_desc{
    color: #333;
}

#core_main_sidebar_panel .vertical-timeline-content .vertical-date{
    position: absolute;
    top: 5px;
    right: 1em;
}

#core_main_sidebar_panel .vertical-timeline-icon{
    height: 30px;
    width: 30px;
}

#core_main_sidebar_panel #vertical-timeline::before{
    left: 13px;
}

#core_main_sidebar_panel .vertical-timeline-content::before{
    display: none;
}

#core_main_chart{

}

#core_main_chart h3{
    position: relative;
    top: 9px;
}

#core_main_chart .ibox-content{
    border-color: #fff;
}

#core_main_chart .cr_item{
    display: inline-block;
    padding-left: 10px;
}

@media(max-width: 767px){

    #core_main_chart h3{
        display: block;
        clear: both;
        float: none;
        top: 0;
        text-align: center;
        padding: 10px 0;
    }

    #core_main_chart .cr_item{
        width: 49%;
        text-align: center;
        padding: 0;
        padding-bottom: 2%;
        box-sizing: border-box;
    }

}

#core_main_chart .cr_propers .row div{
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
}

#core_main_chart .cr_propers .row div.cr_active{
    background: #eee;
}

#core_main_chart .cr_propers .row div span{
    font-size: 11px;
    color: #8a8a8a;
    display: block;
    text-transform: uppercase;
}

#core_main_chart .cr_propers .row div b{
    font-size: 18px;
    font-weight: 600;
    padding-top: 5px;
    display: block;
}

@media(max-width: 767px){

    #core_main_activity .ibox-tools{
        clear: both;
        display: block;
        text-align: left;
    }

}

#core_main_activity .ibox-content .list-group-item{
    padding-top: 20px;
    padding-bottom: 20px;
}

#core_main_activity .cr_load_more{
    cursor: pointer;
}

#core_main_activity .cr_load_more:hover{
    background: #eee;
}

#core_main_activity .ibox-content .list-group-item .text-right{
    color: #929292;
}

/*
// Call popup
*/

#core_incomming_calls{
    position: fixed;
    z-index: 999999;
    width: 100%;
    max-width: 360px;
    bottom: 10px;
    right: 10px;
}

@media(max-width: 767px){
    #core_incomming_calls{
        display: none;
    }
}

#core_incomming_calls .ibox{
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

#core_incomming_calls .ibox h2{
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

#core_incomming_calls .ibox h5{
    color: #1bb394;
}


#core_incomming_calls .ibox.missed h5{
    color: #ee5464;
}


#core_incomming_calls .ibox .ibox-content{
    font-size: 12px;
    font-weight: normal;
}

#core_incomming_calls .ibox .cr_mobile{
    font-size: 12px;
    padding-top: 5px;
}

#core_incomming_calls .ibox .cr_name{
    font-weight: 600;
    padding-top: 10px;
}

#core_incomming_calls .ibox .cr_pops .cr_prop{
    padding-top: 5px;
}

#core_incomming_calls .ibox .cr_last{
    padding-top: 10px;
}

#core_incomming_calls .ibox .cr_desc{
    padding-top: 10px;
    font-style: italic;
}

/*
// Objects
*/

.core_elips_edit{
    font-size: 18px;
}

.page-heading{
    background: #fff;
}

.page-heading h2{
    font-weight: 600;
}

.page-heading.small h2{
    font-size: 18px;
    color: #333;
}

.page-heading.small h2 .cr_object_name{
    font-weight: normal;
    padding: 0 10px;
    color: #808080;
}

#core_table_hd{

}

.table-hover td{
    vertical-align: middle !important;
}

.cr_object_passport_contact{
    margin-top: 2%;
    padding-top: 2%;
    border-top: 1px solid #eee;
}

.cr_object_passport_contact_vlad{
    padding-bottom: 1%;
}

/*
// Object Editor Header
*/


#core_obj_editor_header{
    min-width: 1024px;
}

#core_obj_editor_header .col-xs-4{
    padding-top: 18px;
    padding-right: 30px;
    box-sizing: border-box;
}

#core_obj_editor_header button.dim{
    background: #eee;
}

#core_obj_editor_header .cr_title{
    display: block;
    margin-top: 18px;
    min-width: 600px;
    width: 40%;
}

#core_obj_editor_header .cr_title > *{
    display: inline-block;
    vertical-align: middle;
}

#core_obj_editor_header .cr_title > b{
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
    padding-left: 15px;
    color: #333;
}

#core_obj_editor_header .cr_floors{
    margin-top: 18px;
}

#core_obj_editor_header .cr_floors .cr_current_floor_name{
    display: inline-block;
    font-size: 18px;
}

#core_obj_editor_header .cr_floors .cr_floors_navi{
    display: inline-block;
    background: #fff;
    box-shadow: 0 0 1px rgba(0,0,0,1);
    border-radius: 5px;
    overflow: hidden;
    font-size: 0;
}

#core_obj_editor_header .cr_floors .cr_floors_navi .i{
    display: inline-block;
    width: 40px;
    padding: 7px 0;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
}

#core_obj_editor_header .cr_floors .cr_floors_navi .i:hover, #core_obj_editor_header .cr_floors .cr_floors_navi .i.active{
    background: #e8e7e7;
}

#core_obj_editor_header .cr_floors .cr_floors_navi .i.cr_close{
    width: auto;
    padding-right: 10px;
    padding-left: 25px;
}

/*
// Object Item Composition
*/

.core_just_table[data-name=subobject] tr td > b{
    width: 13px;
    display: inline-block;
    height: 13px;
    vertical-align: middle;
    margin-right: 5px;
    background-color: #eee;
    border-radius: 3px;
}

.core_just_table[data-name=subobject] tr td > span{
    vertical-align: middle;
}

.core_just_table .core_delete{
    cursor: pointer;
}

/*
// Object Schema
*/

/*.core_object_schema_direct_block { margin-top: 70px; }*/

.core_object_schema_direct_block > div{
    padding: 0;
}

.core_object_schema_direct_block > .col-xs-3{
    padding: 80px 20px 20px 20px;
    box-sizing: border-box;
}

#modal_place .modal-lg {
    width: 1100px;
}

#place_editor .core_object_schema{
    position: relative;
    width: 100%;
    display: flex;
    min-height: 99.9vh;
}

#place_preview .core_object_schema{
    position: relative;
    width: 100%;
    min-height: 470px;
}

.core_subobject_info {
    position: absolute;
    z-index: 1000;
    top:0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
}

.core_object_schema.loading:after, .core_subobject_info.loading:after{
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.65);
    z-index: 999999;
}

.core_subobject_info .subobject-info {
    background-color: rgb(232, 231, 231);
}

.core_subobject_info .subobject-info b {
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
}

.core_object_schema.only_view{
    margin-top: 20px;
    /* min-height: 500px; */
}

.core_object_schema .cr_navi{
    position: absolute;
    top: 110px;
    left: 20px;
    color: #fff;
    background: #333;
    border-radius: 5px!important;
    /*overflow: hidden;*/
    box-shadow: 0 0 30px rgba(0,0,0,0.35);
    z-index: 20;
}

.core_object_schema .cr_navi .i{
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.core_object_schema .cr_navi .i:hover{
    background: #525151;
}

.core_object_schema .cr_navi .i:first-child{
    border-radius: 6px 6px 0 0;
}

.core_object_schema .cr_navi .i.last{
    border-radius: 0 0 6px 6px;
}

.core_object_schema .cr_navi .i.active, .core_object_schema .cr_navi .i.active:hover{
    background: #2196f3;
}

.core_object_schema .cr_navi .i .fa, .core_object_schema .cr_navi .i .far{
    font-size: 18px;
    margin-top: 10px;
}

.core_object_schema .cr_schema{
    position: absolute;
    left: 0px;
    top: 70px;
    width: 100vw;
    height: calc(100vh - 70px);
    /*border: 1px solid #d0d0d0;*/
    box-shadow: 0 0 1px rgba(34, 150, 243, 0.75);
    background: rgba(0,0,0,0.4);
    box-sizing: border-box;
}

.core_object_schema.only_view .cr_schema{
    height: 50vh;
}

.core_object_schema .cr_schema .cr_figures_wrap{
    position: relative;
    width: inherit;
    height: inherit;
    overflow: scroll;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.core_object_schema .cr_schema .cr_figures{

}

.core_object_schema .cr_schema .cr_scale{
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 10;
}

.core_object_schema .cr_schema .cr_scale_plus, .core_object_schema .cr_schema .cr_scale_minus{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #2296f3;
    color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.core_object_schema .cr_schema .cr_scale_plus b, .core_object_schema .cr_schema .cr_scale_minus b{
    position: relative;
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
    width: 100%;
    text-align: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.core_object_schema.only_view .cr_schema{
    top: 0;
    left: 0;
    width: 100%;
}

.core_object_schema.forObjectItem .cr_schema{
    box-shadow: none;
}

.core_object_schema .cr_schema.cr_cursor_crosshair{
    cursor: crosshair;
}

.core_object_schema .cr_schema.cr_cursor_copy{
    cursor: copy;
}

.core_btns_editor_top{
    display: none;
}

.core_object_schema .cr_schema .cr_fg{
    position: absolute;
    box-sizing: border-box;
    word-wrap: break-word;
    opacity: 0.9;
}

.core_object_schema .cr_schema .cr_fg:hover {
    opacity: 1;
}

.core_object_schema .cr_schema .cr_fg.empty{

}

.core_object_schema .cr_schema.cr_cursor_move .cr_fg{
    cursor: move !important;
}

.core_object_schema .cr_schema .cr_fg[data-type=box]{
    background: #eee;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-style: inset;
}

.core_object_schema .cr_schema .cr_fg[data-type=box].selected{
    border: 2px solid;
    background: #cbefff;
    opacity: 1;
}

.core_object_schema .cr_schema .cr_fg[data-type=box].empty{
    background: #fff;
    border-color: #333;
}

.core_object_schema .cr_schema .cr_fg[data-type=box] .cr_title{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}

.core_object_schema .cr_schema .cr_fg[data-type=box] .cr_tool{
    position: absolute;
    right: -1px;
    top: -1px;
    background: #ccc;
    width: 12px;
    height: 12px;
}

.core_object_schema .cr_schema .cr_fg[data-type=box] .cr_layer_box{
    bottom: 0;
}

.core_object_schema .cr_schema .cr_fg[data-type=box] .cr_layer_box .i{
    border-bottom: 1px solid;
}

.core_object_schema .cr_schema .cr_fg[data-type=box] .cr_layer_box .i:last-child{
    border-bottom: 0;
}

.core_object_schema .cr_schema .cr_fg[data-type=box] .cr_layer_box .i.reserved{
    background: red;
    color: #cccccc;
}

.core_object_schema .cr_schema .cr_fg[data-type=box] .cr_layer_box .i.opened{
    border: 2px solid;
}

.core_object_schema .cr_schema .cr_fg[data-type=box] .cr_layer_box .i.selected{
    background: greenyellow;
}

.core_object_schema .cr_schema .cr_fg.reserved[data-count-layer=1]{
    opacity: 0.4;
}

.core_object_schema .cr_schema .cr_fg[data-type=line]{
    height: 3px;
    width: 20px;
    background: #333;
    transform-origin: 0 50% 0;
    border-radius: 1px;
}

.core_object_schema .cr_schema .cr_fg[data-type=line] .cr_remove{
    display: none;
    position: absolute;
    padding: 0 4px;
    font-size: 12px;
    top: -16px;
    left: 49%;
    color: #fff;
    background: rgba(0,0,0,0.75);
    border-radius: 2px;
    cursor: pointer;
}

.core_object_schema .cr_schema .cr_fg[data-type=line].editable .cr_remove{
    display: none !important;
}

.core_object_schema .cr_schema .cr_fg[data-type=line]:hover .cr_remove{
    display: block;
}

.core_object_schema.only_view .cr_schema .cr_fg[data-type=line]:hover .cr_remove{
    display: none;
}

.core_object_schema .cr_schema .cr_fg[data-type=line]:hover .cr_remove{
    position: absolute;

}

.core_object_schema .cr_schema .cr_fg[data-type=enter]{
    padding: 5px;
    color: #333;
    font-size: 22px;
}

.core_object_schema .cr_schema .cr_fg[data-type=enter] .cr_remove{
    display: none;
    position: absolute;
    padding: 0 4px;
    font-size: 12px;
    top: -11px;
    right: -12px;
    color: #333;
    border-radius: 2px;
    cursor: pointer;
}

.core_object_schema .cr_schema .cr_fg[data-type=enter]:hover .cr_remove{
    display: block;
}

.core_object_schema.only_view .cr_schema .cr_fg[data-type=enter]:hover .cr_remove{
    display: none;
}

.core_object_schema .cr_schema .cr_fg .ui-icon-gripsmall-diagonal-se{
    display: none !important;
}

.core_object_schema .cr_schema .cr_fg:hover .ui-icon-gripsmall-diagonal-se{
    display: block !important;
}

/*
// Requests
*/

.core_pg_requests .widget{
    border-left: 1px solid #eee;
}

.core_pg_requests > .col-xs-3:nth-child(2) .widget{
    border-left-color: transparent;
}

.core_pg_requests_status_group button small{
    color: #a4a4a4;
    font-size: 14px;
}

#core_requests_table_wrapper{
    margin-top: 1%;
}

.core_pg_requests_params_block{
    padding-top: 20px;
}

.core_pg_requests_table_params{
    margin-top: 2%;
}

.core_pg_requests_item_top_block{
    padding-top: 20px;
    opacity: 0;
}

.core_pg_requests_item_top_block h3{
    font-weight: normal;
}

.core_pg_requests_item_top_block h3 a{
    text-decoration: underline;
}

.core_pg_requests_item_nav_block span{
    font-weight: normal;
}

.core_pg_requests_item_pay_row{
    margin-top: 15px;
}

.core_pg_requests_item_pay_row .row > div{

}

.core_pg_requests_item_letters_timeline{
    margin-top: 20px;
}

.core_pg_requests_item_letters_timeline .vertical-timeline-content .vertical-date{
    display: block;
    float: none;
    padding-bottom: 10px;
}

.core_pg_requests_item_letters_attatch_row{
    margin-top: 20px;
    margin-bottom: 20px;
}

.core_pg_requests_item_message_attached_files .item{
    padding: 5px 0;
}

.core_pg_requests_item_message_attached_files .fa-times{
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 100%;
    display: inline-block;
    padding: 2px 4px;
    margin-left: 7px;
}

.core_file_uploading_progress{
    position: fixed;
    left: 0;
    bottom: 2px;
    width: 0%;
    height: 16px;
    background: red;
    z-index: 999999;
    box-shadow: 0 2px rgba(0,0,0,0.7);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: width ease 0.3s;
}

.core_pg_requests_item_pay_layer_list > .row{
    margin-top: 20px;
}

.cr_page_requests_item_activity .vertical-timeline-content .vertical-date{
    display: block;
    float: none;
    padding-bottom: 10px;
}

.cr_page_task_item_row_main_dt{
    margin-top: 15px;
}

.cr_page_task_item_attach_comment_file{
    margin-left: 15px;
}

.core_pg_task_item_comment_attached_files{
    margin-top: 10px;
}

.core_pg_task_item_comment_attached_files > .item{
    padding: 7px 0;
}

.core_pg_task_item_comment_attached_files > .item .fa-times{
    cursor: pointer;
}

.core_pg_task_item_comments_list{
    margin-top: 40px;
}

.core_pg_task_item_comments_list .social-comment .img{
    margin-right: 15px;
}

.cr_page_task_item_answer_row{
    display: none;
    margin-top: 15px;
}

.cr_page_task_item_btn_answer{
    text-decoration: underline;
    text-decoration-style: dotted;
    color: #1cb394;
}

.cr_page_task_item_btn_answer_add{
    margin-top: 10px;
}

.cr_page_task_item_answer_row textarea{
    max-width: 300px;
}

.core_pg_task_item_comments_list .social-comment{
    padding: 8px;
    padding-right: 0;
    background: rgba(146, 145, 145, 0.1);
    border-left: 1px solid #1bb394;
}

.core_pg_task_item_comments_list .social-comment .social-comment{
    margin-left: 0;
}

.core_pg_task_item_comments_list .other_comments{
    margin-top: 10px;
}

.cr_page_client_item_row_main_dt{
    margin-top: 10px;
}

.core_pg_task_status_group button small, .core_pg_call_region_group button small{
    font-size: 100%;
    color: #c0c0c0;
}